*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
   

}

:root{
    --gray:  #636363;
    --light-gray: #D8D8D8;
    --purple-button: #543EC5;
    --purple-button-hover:#3a1dc9;
    --dark:#282828;
}
i{
    font-size: 8px;
}
.container{
    display: grid;
    grid-template-columns: 360px 1fr;
}

.item1{
    grid-column: span 2;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 50px;
    border-bottom: 1px solid var(--light-gray);


}

.right-header{
    display: flex;
    align-items: center;
    gap: 100px;
}

.nav-header ul{
    display: flex;
    gap: 50px;
}

.nav-header li{
    list-style: none;
    
}

.nav-header a{
    text-decoration: none;
    color: var(--gray);

}

.nav-header a:hover{
    color:var(--dark);
}

.left-header{
    display: flex;
    align-items: center;
    gap: 40px;
    border-left: 1px solid var(--light-gray);
}



.left-header a{
    background-color: var(--purple-button) ;
    padding: 12px 30px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.left-header a:hover{
    background-color: var(--purple-button-hover);
}

.user-info{
    display: flex;
    flex-direction: column;
}

.user-info h2{
    font-size: 24px;
    color: var(--dark);
    font-weight: 800;
}

.user-info span{
    font-size: 12px;
    color: var(--gray);
}

.item2{
    grid-column: span 1;
    background-color: red;
    height: 100vh;
}

.item3{
    grid-column: span 1;
    background-color: brown;
    display: grid;
    grid-template-columns: 463px 463px 463px;
    padding: 50px;
    gap: 30px;
}

.card-dash{
    grid-area: span 1;
    background-color: #543EC5;
    height: 130px;
}

.card-dash-big{
    grid-area: 1fr ;
    background-color: green;
    height: 130px;
}
